@using Dental.ViewModels
@model IEnumerable<DetailUserViewModel>

@{
    ViewData["Title"] = "Users";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <h1 class="fw-light">Users</h1>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p>@item.Name @item.Surname-@item.OutUserId</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="User" asp-action="Index" asp-route-id="@item.OutUserId" class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>